$circle-color: purple;
$square-color: red;
$rectangle-color: blue;
$triangle-color: orange;

.shared{
  float: left;
  margin: 0px 100px 100px 0px;
}

.circle{
  @extend .shared;
  background-color: $circle-color;
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.square{
  @extend .shared;
  background-color: $square-color;
  height: 100px;
  width: 100px;
}

.triangle{
  @extend .shared;
  height: 0;
  border-left: 50px solid transparent;
  border-right: 50px solid transparent;
  border-bottom: 100px solid $triangle-color;
  width: 0;
}

.rectangle{
  @extend .shared;
  background-color: $rectangle-color;
  height: 150px;
  width: 100px;
}